Options -MultiViews
RewriteEngine On
Options -Indexes

RewriteBase /sitioweb/Quote

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
ReqriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L)]